{% extends 'base.html' %}

{% block app_content %}
    <h1>Messages</h1>
    <hr>
    {% if messages %}
        {% for message in messages %}
            {% include '_message.html' %}
        {% endfor %}
    {% else %}
        <div class="post">
            <em>No messages found. :(</em>
        </div>
    {% endif %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer messages
                </a>
            </li>
            <li class="next{% if not prev_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older messages <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
